<div class="img-thumbnail">
    <img src = "assets/images/{{ crib.image }}.jpeg" style = "height:256px; width:256px">

    <div class="caption">

            <div *ngIf = "!crib.showDetails">

               <h4>
                     <button class = "btn btn-primary">
                            {{crib.type}}
                     </button>       
               </h4>     

               <h3>
                       <img src = "https://upload.wikimedia.org/wikipedia/commons/f/fd/Open_Iconic_tag.svg" style = "height:32px;width:32px">
                       {{ crib.price | currency: 'USD':true}}

               </h3>
               <h4>
                   <i class = "fa fa-home" aria-hidden = "true"></i>                
                   {{ crib.address }}         
               </h4>

            </div>
            <hr>
            <button class = "btn btn-success btn-sm"
                    *ngIf = "!crib.showDetails"
                    (click) = "crib.showDetails = !crib.showDetails">
                    Details
            </button>

    </div>

    <div *ngIf = "crib.showDetails">
            
            <div class="details">

                    <h4>
                             <button class = "btn btn-primary">

                                    Beds: {{ crib.bedrooms }}

                             </button>       

                             <div class="divider"></div>

                             <button class = "btn btn-primary">

                                    Baths: {{ crib.bathrooms }}

                             </button>    

                             <div class="divider"></div>

                             <button class = "btn btn-primary">

                                    SqFt: {{ crib.area }}

                             </button>    

                    </h4>
                    <p>{{ crib.description }}</p>
                    <hr>
                    <button class = "btn btn-sm btn-danger"
                            (click) = "crib.showDetails = !crib.showDetails">
                            Close                                              
                    </button>
            </div>


    </div>



</div>
